:root {
    --text-color-background: rgba(230, 225, 201, .75);
}

* {
    border: 1px solid red;
}

@font-face {
    font-family: "Science Gothic";
    src: url("../fonts/Science_Gothic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "DM Serif";
    src: url("../fonts/DMSerifText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Fascinate";
    src: url("../fonts/Fascinate-Regular.ttf") format("truetype");
}

html {
    font-size: 32px;
    font-family: Roboto;
}

body {
    background-color: khaki;
}

main {
    background-color: floralwhite;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 2px 2px 4px black;
    margin: 70px 100px;
}

h1 {
    font-family: "Science Gothic";
    font-size: 2rem;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: .9rem;
    text-align: center;
}

section {
    padding: 25px 30px;
}

.color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.font-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-display {
    min-width: 250px;
    min-height: 250px;
}

.color-display {
    border: 5px ridge grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.color-display div {
    font-size: .5rem;
    background-color: var(--text-color-background);
    padding: 10px;
    border-radius: 5%;
    border: 1px solid black;
    max-width: 150px;
}

.font-display {
    max-width: 49%;
}

.font-display p {
    font-size: .75rem;
    margin-bottom: 5px;
}

.red {
    background-color:red;
}

.blue {
    background-color:blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.khaki {
    background-color: rgb(240, 230, 140);
}

.floral-white {
    background-color: rgb(255, 250, 240);
}

.bolded {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

#roboto-font p{
    font-family: Roboto;
}

#science-gothic-font p {
    font-family: "Science Gothic";
}

#dm-serif p{
    font-family: "DM Serif";
}

#fascinate p{
    font-family: "Fascinate"
}